<launch>
	<node
		pkg    = "mur2022"
		name   = "cone_detection"
		output = "screen"
		type   = "cone_detection_node.py"
		>
	</node>	
	<node
		pkg    = "mur2022"
		name   = "sensor_fusion"
		output = "screen"
		type   = "sensor_fusion_node_all_cones"
		>
	</node>
	<node
		pkg    = "mur2022"
		name   = "control_pose_publisher"
		output = "screen"
		type   = "control_pose_publisher_node"
		>
	</node>
</launch>